.input, .select select, .textarea {
    color: rgb(173, 86, 245) ;
    font-weight: 600;
    text-transform: capitalize;
}

.select-hover {
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 216px;
    word-wrap: break-word;
    position: absolute;
    transform: translate(96%, 1%);
    z-index: 999;
}

.select-option {
    cursor: pointer;
}

.select-option:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    filter: brightness(0%);
}

.dropdown-trigger > button {
    width: 190px;
}
 
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .select-container {
        width: 93%;
        margin: auto;
    }
    .coach-list {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 